<html>
<head>
<title>Ninja Slice | Your Order is Very Important to Us</title>
<meta charset="utf-8">
    <link rel="stylesheet"
          href="/css/Comic-Neue.css">
    <link rel="stylesheet"
          href="/css/Ninja.css">
<meta http-equiv='refresh' content='0; url=/convert/?midj=<%= URI.encode_www_form_component(params['midj']) %>'>
</head>
<body>
  <p>busy.</p>
  <p>Please leave this window open until your download is complete.</p>
</body>
</html>
