<html>
<title>busy</title>
<meta http-equiv='refresh' content='0; url=/convert/?midj=<%= URI.encode_www_form_component(params['midj']) %>'>
<body>
  <p>busy.</p>
  <p>Please leave this window open until your download is complete.</p>
</body>
</html>
