<!DOCTYPE html>
<html>
<head>
<title>Ninja Slice | Serving Up Tasty Eats</title>
<meta charset="utf-8">
    <link rel="stylesheet"
          href="/css/Comic-Neue.css">
    <link rel="stylesheet"
          href="/css/Ninja.css">
</head>
<body>
<img src="img/ninja-slice-header-v<%= rand(1..3) %>.png" alt="Ninja Slice Ultimate" width="940" height="180">

<h2>Enter your MidJourney link below.</h2>

<div class="container">
  <form action='/convert/' method='post' target='_blank'>
    <label for='midj'>URI of Midjourney Image(s):</label>
    <textarea id='midj' name='midj' rows='10' cols='100' wrap='soft'></textarea>
    <br /><em>Up to twenty(20) URIs per submission is supported</em><br />
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
  </form>

</div>
<h2>
Introducing "Ninja Slice Ultimate" - Your Ultimate Image Enhancement Solution!
</h2>

<p>
Unlock the power of professional image processing with Ninja Slice Ultimate, the cutting-edge online software tool designed to transform your Midjourney 4-up images into stunning high-resolution masterpieces. Elevate your visuals effortlessly and prepare them for top-quality printing like never before.
</p>
<h3>Features:</h3>

<p>
<em>Precise Slicing</em>: Ninja Slice Ultimate effortlessly divides your Midjourney 4-up images into four individual, finely crafted segments, preserving every detail with pinpoint precision.
</p>

<p>
<em>Seamless Upscaling</em>: Witness the magic of advanced upscaling technology as Ninja Slice Ultimate enlarges each segmented image while maintaining exquisite clarity and sharpness. Your images will be ready for large-scale printing without compromise.
</p>

<p>
<em>Optimized for Printing</em>: With Ninja Slice Ultimate, you can rest assured that your images are primed for the highest quality print results. Every segment is enriched with vibrant colors and lifelike details, ensuring your artwork comes to life on paper.
</p>

<p>
<em>User-Friendly Experience</em>: Enjoy a streamlined process that makes image enhancement accessible to everyone. With its intuitive interface, Ninja Slice Ultimate lets you effortlessly upload, process, and download your perfected images in moments.
</p>

<p>
<em>Automatic Zipping</em>: Your convenience is our priority. Ninja Slice Ultimate automatically compresses your processed images into a convenient zip file, ensuring a quick and efficient download experience.
</p>

<p>
<em>Ready for Action</em>: Ninja Slice Ultimate delivers the results directly to you. Once your images are processed, they are immediately ready for download via your browser, saving you time and effort.
</p>

<p>
Embrace the transformational capabilities of Ninja Slice Ultimate and witness your Midjourney 4-up images evolve into captivating artworks, perfectly tailored for printing. Elevate your imagery with ease and precision. Get started today - it's time to bring your visuals to life like never before!
</p>

<h3>
Notice of Non-Affiliation and Disclaimer
</h3>

<p>
We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with Midjourney, or any of its subsidiaries or its affiliates. The official Midjourney website can be found at https://www.midjourney.com/.
</p>

<p>
The name Midjourney as well as related names, marks, emblems and images are registered trademarks of their respective owners.
</p>

<a href='LICENSE.html' target='_blank'>LICENSE</a>
</body>
</html>
